@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CoDelivery</h1>
    <p class="lead">
        Transporte os arquivos do seu projeto <i>front-end</i> de maneira fácil e automatizada.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Começar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/Assets/dropbox.png" alt="dropbox"/>
            <h2>DropBox</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/Assets/github.png" alt="GitHub"/>
            <h2>GitHub</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/Assets/ftp.png" alt="FTP" />

            <h2>Ftp</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/Assets/bower-grunt.png" alt="Bower + Grunt" />
            <h2>Bower/Grunt</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</div>